*{
    margin: 0;
    padding: 0;
    /* border: 2px solid yellow; */
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.textcenter{
    text-align: center;
    color: white;
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    height: 140px;
    /* position: sticky;
    top: 0px;
    z-index: 2; */
}
/* nav::before{
    content: "";
    background-color: rgb(105, 60, 60);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.6;
} */

#header img{
    height: 170%;
    width: 130%;
    top: -50px;
    position: relative;
    left: -50px;
}
#heading{
    /* margin-right: 100px; */
    width: 50%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul{
    width: 50%;
    list-style: none;
    display: flex;
    /* flex-flow: wrap; */
    justify-content: end;
    align-items: center;
}
#header ul li{
    display: inline-block;
    width: max-content;
    margin: 1.5rem;
    font-size: 1.3rem;
}
#header ul li a{
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#header ul li a:hover{
    /* font-size: 2rem; */
    color: white;
    background-color: rgb(133, 32, 32);
}
.cards {
    display: flex;
    flex-flow: wrap;
    background-color: rgb(32, 34, 34);
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.cards__item {
    margin: 25px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(179, 49, 49); */
    height: 250px;
    width: 250px;
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(53, 51, 51);
    /* border: 2px solid rgb(28, 226, 233); */
}
#mercedes{
    background: url(mercedes.png) no-repeat center center/cover;
    background-size: 400px;
    background-color: rgb(24, 26, 26);
    /* background-color: rgb(50, 250, 250); */
}
.cards img{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* padding: 10px; */
    height: 80%;
}
.subtitle{
    /* margin: 100px; */
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 220px;
}
#audi{
    /* background: url(audi.png) no-repeat center center/cover; */
    background: url(audi1.png) no-repeat center center/cover;
    /* background-size: 280px; */
    background-size: 240px;
    background-color: rgb(24, 26, 26);
}
#lamborghini{
    background: url(lamborghini\ 1.png) no-repeat center center/cover;
    background-size: 180px;
    background-position-y: 9px;
    background-color: rgb(24, 26, 26);
}
#bmw{
    background: url(bmw.png) no-repeat center center/cover;
    background-size: 170px;
    background-color: rgb(24, 26, 26);
}
#porsche{
    background: url(porsche.png) no-repeat center center/cover;
    background-size: 250px;
    background-color: rgb(24, 26, 26);
}
#ferrari{
    background: url(ferrari.png) no-repeat center center/cover;
    background-size: 300px;
    background-color: rgb(24, 26, 26);
}
#rollsroyce{
    background: url(rollsroyce.png) no-repeat center center/cover;
    background-size: 120px;
    background-position-y: 8px;
    background-color: rgb(24, 26, 26);
}
#gclass{
    background: url(gclass.png) no-repeat center center/cover;
    background-size: 250px;
    background-position-y: 8px;
    background-color: rgb(24, 26, 26);
}

#etron{
    background: url(etron.png) no-repeat center center/cover;
    background-size: 250px;
    background-position-y: 2px;
    background-color: rgb(24, 26, 26);
}

#x7{
    background: url(x7.png) no-repeat center center/cover;
    background-size: 230px;
    background-position-y: 60px;
    background-color: rgb(24, 26, 26);
}
#s911{
    background: url(911.png) no-repeat center center/cover;
    background-size: 250px;
    background-position-y: 20px;
    background-color: rgb(24, 26, 26);
}
#f8{
    background: url(f8.png) no-repeat center center/cover;
    background-size: 230px;
    background-position-y: 70px;
    background-color: rgb(24, 26, 26);
}
#ghost{
    background: url(ghost.png) no-repeat center center/cover;
    background-size: 230px;
    background-position-y: 45px;
    background-color: rgb(24, 26, 26);
}
#aven{
    background: url(aven.png) no-repeat center center/cover;
    background-size: 240px;
    background-color: rgb(24, 26, 26);
}

#about{
    font-size: 25px;
    color: white;
}

#searchby{
    background-color: rgb(82, 78, 78);
}
a{
    text-decoration: none;
}

#contact{
    color: white;
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    /* background: url('x7.png') no-repeat center center/cover; */
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'PT Serif', serif;
}
footer{
    font-size: 1.2rem;
    background-color: black;
    color: whitesmoke;
    padding: 9px 20px;
}

/* Utility Classes */
.center{
    text-align: center;
}
.h-primary{
    font-size: 3.8rem;
    padding: 10px;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 10px;
    font-family: 'PT Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    margin: 18px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.6;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: lightslategrey;
}